*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: rgb(225, 235, 248);
}
h2{
    background-color: rgb(254, 252, 255);
    color: black;
    width:fit-content;
    padding: auto;
    margin: auto;
    border-bottom:double mediumvioletred 5px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul li {
    width: 100px;
    height: 40px;
    background-color: rgb(166, 121, 208);
    font-size: 15px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}
ul li a{
    text-decoration: none;
    color: blueviolet;
    display: block;
}
ul li a:hover{
    background-color: aliceblue;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: inline;
}